*{
    padding:0;
    margin: 0; 
    box-sizing: border-box;
    
}
body{
    background-image: url('./images/Pokemon-esmeralda.PNG');
    background-repeat:no-repeat;
    height: 100%;
    background-size: 100% 100%;
}
.mover-todo{
    margin: 0 30%;
}
h1{
    font-size: 30px;
    background-color: #55efc4;
    padding-top: 5px;
    height: 50px;
    font-size:45px ;
}
label{
    margin: 30%;
    font-size: 20px;
    color: white;
}
.busqueda{
    width:30px;
    height: 30px;
   color: white;
}
.formulario{
    display: flex;
    margin:0 5%;
}
.poke{ 
    width: 345px;
    height: 50px;
    border-radius: 50px;
    outline: none;
}

button{
    left: 0;
    width: 60ppx;
    height: 50px;
    border-radius: 20px;
    padding: 14px 25px;
}

.mostrarPokemon{
    border: 4px solid #00b894;
    background-color: white;
    width:500px;
    height: 500px;
    align-items: center;
}
img{
    width: 200px;
    height: 200px;
}
.elementosAgregados{
    margin: 0 30%;
    display: flex;
    text-align: center;
}